.p0-drawer .el-drawer__body {
  padding: 0px !important;
}
.p10-drawer .el-drawer__body {
  padding: 10px 5px 10px 10px !important;
}
.el-drawer__header {
  color: var(--diary-font-color) !important;
  margin-bottom: 10px !important;
}
.el-dialog{
  background-color: var(--diary-bg-color) !important;
  color:var(--diary-font-color) !important;
}
.el-dialog__title{
  color: var(--diary-font-color) !important;
}